:root{
    --primary: #444ff4;
    --secondary: #1409dd;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
}
.container::before{
  content: '';
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--primary), var(--secondary));
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}


form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}


.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}
.input-field{
  max-width: 320px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0;
  /* border-radius: 50px; */
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
}
.input-field i{
  text-align: center;
  line-height: 50px;
  color: #acacac;
  font-size: 1.1rem;
}
.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
}
.input-field input::placeholder{
  color: #aaa;
  font-weight: 400;
}
.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
    transition: .5s;
}
.btn:hover{
  background-color: var(--secondary);
}
.btn.transparent{
  background: none;
  border: 2px solid #fff;
}
.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}
.btn.secondary{
  color: #000;
  background: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, .2);
}

.social-media{
    display: flex;
    justify-content: center;
}
.social-icons{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .3s;

  }
.social-icons:hover{
    color: var(--secondary);
    border-color: var(--secondary);
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panels-container .panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}
.left-panel{
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}
.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
.panel .content{
    color: #fff;
    transition: 1.1s .4s ease-in-out;
}

.panel h3{
    font-weight: 500;
    line-height: 1;
    font-size: 1.5rem;
}
.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.image{
    width: 100%;
    transition: .9s .6s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

.container.sign-up-mode::before{
    transform: translate(98%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;
}
.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: 25%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

@media (max-width: 870px){
  .container{
    max-height: 870px;
    height: 100vh;
  }
  .container::before{
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .signin-signup{
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .panels-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panels-container .panel{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }
  .panel .content{
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }
  .panel h3{
    font-size: 1.2rem;
  }
  .panel p{
    font-size: 0.7rem;
    padding: .5rem 0;
  }
  .btn.transparent{
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .image{
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .left-panel{
    grid-row: 1/2;
  }
  .right-panel{
    grid-row: 3/4;
  }

  .right-panel .content, .right-panel .image{
      transform: translateY(300px);
  }

  .container.sign-up-mode::before{
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content{
    transform: translateY(-300px);
  }

  .container.sign-up-mode .signin-signup{
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }

}

@media (max-width: 570px){
  form{
    padding: 0 1.5rem;
  }
  .image{
    display: none;
  }
  .panel .content{
    padding: 0.5rem 1rem;
  }
  .container::before{
    bottom: 72%;
    left: 52%;
  }
  .container.sign-up-mode::before{
    bottom: 28%;
    left: 50%;
  }
}
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (orientation: portrait) { 
  .image{
    display: none;
  }
  .panel .content{
    padding: 0.5rem 1rem;
  }
  .panel .content p{
    display: none;
  }
  .sign-up-form .social-text{
    display: none;
  }
  .sign-up-form .sign-in-social-btn{
    display: none;
  }
}

@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 700px)
  and (orientation: portrait){    
  .panel .content p{
    display: block;
  }
  .sign-up-form .social-text{
    display: none;
  }
  .sign-in-social-btn{
    display: none;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 740px) 
  and (orientation: portrait){    
  .panel .content p{
    display: block;
  }
  .sign-up-form .social-text{
    display: block;
  }
  .sign-in-social-btn{
    display: block;
  }
}


/* Verify email screen */
.container-fluid{
  position: relative;
  width: 80%;
  margin: 5em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  padding: 2rem 5rem;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.container-fluid::before{
  content: '';
  position: absolute;
  top: -15%;
  left: -5%;
  width: 200px;
  height: 200px;
  border-radius: 71% 29% 31% 69% / 73% 58% 42% 27%;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  animation: rotating 20s linear infinite;
  z-index: 1;
}
.container-fluid form{
  z-index: 3;
}
.container-fluid h2{
  margin: .5em auto;
  font-size: 2rem;
  text-transform: capitalize;
}
.container-fluid p{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: .9rem;
  font-weight: 300;
}
.forget-link{
  display: block;
  text-align: right;
  color: var(--primary);
  font-size: .8rem;
  align-self: center;
  margin-left: 40%;
}
.min-h-screen{
  min-height: 100vh;
}
.grid{
  padding: 0;
  display: grid;
}
.col-lg-2{
  grid-template-columns: 1fr 1fr;
}
.form-container, .img-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.form-container::after{
  content: '';
  position: absolute;
  bottom: -20%;
  right: -30%;
  width: 300px;
  height: 300px;
  border-radius: 71% 29% 31% 69% / 73% 58% 42% 27%;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  animation: rotating 40s linear infinite;
  z-index: 1;
}
.cancel-link{
  display: inline-block;
  position: absolute;
  margin: 0 .5rem;
  top: 20px;
  right: 0;
  text-decoration: none;
  color: #fa3939;
  transition: .5s ease-in-out;
}
.cancel-link::before{
  content: '';
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
  height: 2px;
  color: #fa3939;
}
.img-container{
  padding: 0 2rem;
}
.form-container h3{
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: .5em;
  text-align: left;
}
.form-container p{
  font-size: .9rem;
  margin-bottom: .5em;
}
.image-fluid{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
}
.grid .content::before{
  content: '';
  position: absolute;
  bottom: -7%;
  right: -5%;
  width: 150px;
  height: 150px;
  border-radius: 71% 29% 31% 69% / 73% 58% 42% 27%;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  animation: rotating 20s linear infinite;
}
@keyframes rotating {
  to{
    transform: rotate(360deg);
  }
}

@media (max-width: 870px){
  .col-md-1{
    grid-template-columns: 1fr !important;
  }
  .img-container{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .forget-link{
    margin-left: 30%;
  }
  .form-container::after{
    width: 200px;
    height: 200px;
    bottom: -15%;
    right: -10%;
  }
  .container-fluid::before{
    width: 200px;
    height: 200px;
    top: -15%;
    left: -10%;
  }
}
@media (max-width: 570px){
  .img-container{
    display: none;
  }
  .forget-link{
    align-self: center;
    margin: 0;
  }
}
@media (max-width: 380px){
  .container-fluid::before{
    width: 200px;
    height: 200px;
    top: -15%;
    left: -20%;
  }
}